@charset "UTF-8";


#logoAndHead {
    width: 60%;
    color: black;
    margin: 15px auto;
    text-align: center;

}

#logoAndHead img {

    width: 30%;
    animation: bounce 1s infinite alternate;
    
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
        
    }
}


body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: white;
}


header {
    background-color: #f8f9fa; 
    color: #212529; 
    padding: 20px 0;
    text-align: center;
}

#logoAndHead img {
    max-width: 150px; 
    height: auto;
    margin-bottom: 20px;
}

#logoAndHead p {
    margin: 0 auto; 
    padding: 0 15px; 
    font-size: 1.1em;
    max-width: 800px; 
}

.navbar {
    background-color: #343a40; 
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em; 
}

.navbar-nav .nav-link {
    color: #adb5bd; 
    margin-right: 1em; 
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #ffffff; 
}

.navbar-toggler {
    border-color: #6c757d; 
}

.form-control {
    border: 2px solid #6c757d; 
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745; 
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
}

@media (max-width: 992px) {
    .navbar-nav .nav-link {
        margin-right: 0.5em; 
    }
}


main.container {
    padding: 20px;
}


section {
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding: 20px 0;
    color: #212529;
}

.article-thumbnails img,
.statistics img {
    height: 200px;
    width: 100%; 
    object-fit: contain; 
    border-radius: 4px;
    
}


.article-thumbnails .column img,
.statistics .column img {
    object-fit: cover;
    height: 200px; 
}

footer {
    background-color: #212529; 
    color: #f8f9fa; 
}

footer h5 {
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
}

footer ul li a {
    color: #f8f9fa; 
    text-decoration: none; 
}

footer ul li a:hover {
    text-decoration: underline; 
}

footer .row {
    align-items: center;
}

footer .border-top {
    border-color: #dee2e6 !important; 
}

@media (max-width: 768px) {
    footer .row {
        text-align: center;
    }
}


@media (max-width: 768px) {
    .article-thumbnails .column,
    .statistics .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 20px;
}

.article-description {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
}

.statistic-description {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
}


.video-section {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-section h2 {
    margin-bottom: 15px;
    color: #495057;
}

.video-section iframe {
    width: 100%;
    max-width: 560px; 
    height: 315px;
    border-radius: 10px;
}

.tooltip-item {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-item .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #4CAF50; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #4CAF50; 
  }
  
  .tooltip-item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  .dropdown-item.disabled {
    color: #6c757d;
    pointer-events: none;
  }

  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    background-color: #4CAF50;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439;
  }
  
 
  .video-wrapper .embed-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video-wrapper .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .preview-wrapper .game-preview {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-bottom: 56.25%; 
    position: relative;
  }
  
  .content-description {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
  }
  
  .btn-success {
    display: block;
    width: auto;
    margin-top: 10px;
  }
  
 
  @media (max-width: 767px) {
    .video-wrapper, .preview-wrapper {
      margin-bottom: 30px;
    }
  
    .preview-wrapper .game-preview {
      background-size: cover; 
    }
  }


  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding: 40px 0;
    background: #fff; /* Adjust the background as needed */
    padding: 40px 0;
    flex-direction: column;

}

.about-container h2 {
    margin-bottom: 30px;
  }


.team-member {
    flex: 0 0 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    margin-bottom: 20px;


}


.team-photo {
    border-radius: 50%;
    max-width: 100px; /* Adjust the size as needed */
    margin-bottom: 15px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  

  

.team-member h3 {
    margin-top: 15px;
    color: #333; 
    font-size: 1.25rem; 
}

.team-member p {
    font-size: 0.9rem; 
    color: #666; 
    line-height: 1.4; 
    margin-top: 10px;
    background-color: rgba(245, 245, 245, 0.8); 
    border-radius: 5px; 
    padding: 10px;
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-photo {
    width: 150px; 
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px; 
}
.team-photo:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

h3 {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .team-member {
        flex: 0 0 calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .team-member {
        flex: 0 0 100%;
    }
}

.about-section {
    background: #f8f9fa; /* Adjust the background color as needed */
    padding: 20px 0;
  }
  
  .about-title {
    margin-bottom: 30px;
    font-size: 2.5rem; /* Adjust the font size as needed */
  }
  
  .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* This will give space between the team-member cards if they wrap */
  }
  